:root {
  --sticky1-height: 200px;
  --sticky2-height: 50px;
  --sticky3-height: 90px;
  --sticky4-height: 120px;
}
.sticky-1 {
  height: var(--sticky1-height);
  background-color: rgb(216, 86, 86);
}
.sticky-2 {
  height: var(--sticky2-height);
  background-color: rgb(133, 106, 240);
}
.sticky-3 {
  height: var(--sticky3-height);
  background-color: rgb(108, 222, 108);
}
.sticky-4 {
  height: var(--sticky4-height);
  background-color: rgb(231, 75, 166);
}
.space {
  height: 1000px;
}
.side-container {
  display: flex;
  padding: 50px;
}
.side-bar {
  flex: 2;
  height: 300px;
  background-color: purple;
  margin-right: 50px;
  position: sticky;
  top: 10px;
  transition: top 0.3s;
}
.colored-space {
  flex: 3;
  height: 1000px;
  background-color: aqua;
}
.add-top {
  top: 1000px;
}
